$color-background: #ffde00;
$font: 'Fredoka One', cursive;
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
    background-color:$color-background; 
    font-family: $font;
    color: #fefefe;
}
textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 
.main-titulo{
  position: relative;
  & h1{
    text-align: center;
    padding-top: 30px;
    color: #3b4cca;
    text-shadow: 3px -1px 0 #fff;
  }
}
.search{
  &-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    gap: 10px;
  }
}

#pokemonName{
  border-radius: 15px;
  border: none;
  padding: 3px 5px;
  font-size: 1.35rem;
  font-family: $font;
  text-align: center;
  &:focus{
    outline: 3px solid #3b4cca;
  }
}
#search{
  display: none;
}
.pokebox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px;
  background-color: red;
  border: 10px solid #b8a10d;
  border-radius: 15px;
  &-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    & p{
      text-shadow:1px -1px 0 #000;
      padding-left: 160px;
    }
  }
  &-img{
    max-width: 100%;
    width: 80%;
    background-color: #fefefe;
    border-radius: 15px;
    box-shadow:3px 2px 0 rgba(0,0,0,.4);
  }
}
.pokebox-espec{
display: flex;
flex-wrap: wrap;
gap: 10px;
padding: 10px;
text-shadow:1px -1px 0 #000;
}
#preloader{
  height: 100vh;
  
  width: 100vw;
  z-index: 1000;
}